<div class="container">
	<div class="catalog-items-header">
		<h1>Browse upcoming workshops</h1>
		<p>Learn today's most in demand skills with our fast-paced and fun short-form offerings</p>
	</div>
	<% @catalog_items.each do |catalog_item| %>
		<div class="catalog-item">
			<div class="item-details">
				<p class="item-title"><%= link_to catalog_item.title, catalog_item_path(catalog_item) %></p>
				<p><%= catalog_item.description %></p>
			</div>
			<div class="date-time-container">
				<div class="date-details"><%= catalog_item.date.to_formatted_s(:catalog_item_date) %></div>
				<div class="time-details"><%= catalog_item.start_time.to_formatted_s(:catalog_item_time) %> - <%= catalog_item.end_time.to_formatted_s(:catalog_item_time) %></div>
			</div>
		</div>
	<% end %>
</div>
