<div class="container">
	<h1>Order Details</h1>

	<h2><%= @order.catalog_item.title %></h2>
	<div class="ticket-price">
		<span class="left">Regular Ticket</span>
		<span class="right"><%= @order.catalog_item.price %></span>
	</div>

	<%= form_for @order do |order_form| %>
		<%= order_form.hidden_field :catalog_item_id %>
		<%= order_form.fields_for :user do |user_fields| %>
			<%= user_fields.label :name %>
   		<%= user_fields.text_field :name %>
   		<%= user_fields.label :email %>
   		<%= user_fields.text_field :email %>
   		<%= user_fields.label :phone_number %>
   		<%= user_fields.text_field :phone_number %>
		<% end %>
		<%= order_form.submit %>
	<% end %>

</div>
